<div class="post">
  <div class="header">
    <h1> Заголовок поста</h1>
    <button routerLink="/" class="btn btn-link"> На главную</button>
  </div>
  <div class="info">
    <strong> Автор</strong>
    <small> 12/02/2022</small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, tempore?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda ex facilis nesciunt nostrum odio quaerat, quod veritatis! Laboriosam, sunt, suscipit!</p>
  </div>
</div>
